
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Result</h2>
  @ViewBag.Remark
<div>    
    @Html.ActionLink("Back to Assignment List", "Index", "Assignment")
</div>